(
    monsters: {
        "Goblin": (
            name: "Goblin",
            perception: 10,
            sprite: "sprites/monsters/goblin.png#0",
            damage: "1d4",
            level: 1,
            base_hp: 5,
            strength: 8,
            dexterity: 12,
            constitution: 10,
            agility: 10,
            loot_table: [
                (item: "Healing Potion", spawn_chance: 0.2),
            ],
        ),
        "Rat": (
            name: "Rat",
            perception: 8,
            sprite: "sprites/monsters/rat.png#0",
            damage: "1d4",
            level: 1,
            base_hp: 4,
            strength: 6,
            dexterity: 8,
            constitution: 8,
            agility: 10,
        ),
        "Orc": (
            name: "Orc",
            perception: 10,
            sprite: "sprites/monsters/orc.png#0",
            damage: "1d4+1",
            level: 1,
            base_hp: 10,
            strength: 14,
            dexterity: 8,
            constitution: 12,
            agility: 10,
            regen: 20,
            loot_table: [
                (item: "Iron Sword",    spawn_chance: 0.15),
                (item: "Healing Potion", spawn_chance: 0.25),
            ],
        ),
    }
)