(
    name: "You",
    sprite: "sprites/hero.png",
    damage: "1d4",
    max_hp: 25,
    regen_rate: 10,
    armor: 0,
    dodge: 0,
    viewshed_range: 20,
    starting_items: [
        (name: "Bow"),
        (name: "Arrow", count: 20),
    ],
    ascii_char: "@",
    ascii_fg: "#FFFFFF",
)
