PropManifest(
    props: {
        "candle": PropAsset(
            name: "Candle",
            sprite: "sprites/candle.png#0",
            is_blocking: false,
            is_opaque: false,
            light_radius: Some(30.0),
            animated_frames: Some(4),
            grid_size: Some((4, 1)),
            tile_size: Some((16, 16)),
            ascii_char: "*",
            ascii_fg: "#FFDC64",
        ),
        "watchfire": PropAsset(
            name: "Watchfire",
            sprite: "sprites/props/watchfire.png#0",
            is_blocking: false,
            is_opaque: false,
            light_radius: Some(40.0),
            light_color: Some((1.0, 0.6, 0.2)),
            animated_frames: Some(8),
            grid_size: Some((4, 2)),
            tile_size: Some((256, 338)),
            ascii_char: "*",
            ascii_fg: "#FF9632",
        ),
        "totem_pole": PropAsset(
            name: "Totem Pole",
            sprite: "sprites/props/totem_pole.png#0",
            is_blocking: true,
            is_opaque: false,
            grid_size: Some((1, 1)),
            tile_size: Some((447, 447)),
            ascii_char: "T",
            ascii_fg: "#B46E3C",
        ),
        "barricade": PropAsset(
            name: "Barricade",
            sprite: "sprites/props/barricade.png#0",
            is_blocking: true,
            is_opaque: false,
            grid_size: Some((1, 1)),
            tile_size: Some((256, 256)),
            ascii_char: "=",
            ascii_fg: "#A0783C",
        ),
        "barrel": PropAsset(
            name: "Barrel",
            sprite: "sprites/props/barrel.png#0",
            is_blocking: true,
            is_opaque: false,
            grid_size: Some((1, 1)),
            tile_size: Some((399, 399)),
            ascii_char: "o",
            ascii_fg: "#96783C",
        ),
        "chest": PropAsset(
            name: "Chest",
            sprite: "sprites/props/chest.png#0",
            is_blocking: true,
            is_opaque: false,
            grid_size: Some((1, 1)),
            tile_size: Some((32, 32)),
            ascii_char: "$",
            ascii_fg: "#DCB428",
        ),
    },
)
