(
    tiles: {
        "Floor": (
            name: "Floor",
            sprite: "sprites/floors/floor_stone.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: ".",
            ascii_fg: "#BFBFBF",
            ascii_bg: "#23232B",
        ),
        "Wall": (
            name: "Wall",
            sprite: "sprites/walls/wall_brick.png",
            walkable: false,
            opaque: true,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "#",
            ascii_fg: "#504A3C",
            ascii_bg: "#777463",
        ),
        "DownStairs": (
            name: "DownStairs",
            sprite: "sprites/stairs/stone_stairs_down.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: ">",
            ascii_fg: "#FFFFFF",
            ascii_bg: "#23232B",
        ),
        "UpStairs": (
            name: "UpStairs",
            sprite: "sprites/stairs/stone_stairs_up.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "<",
            ascii_fg: "#FFFFFF",
            ascii_bg: "#23232B",
        ),
        "Empty": (
            name: "Empty",
            sprite: "sprites/floors/floor_stone.png",
            walkable: false,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: " ",
            ascii_fg: "#000000",
            ascii_bg: "#000000",
        ),
        "Door": (
            name: "Door",
            sprite: "sprites/doors/closed_door.png",
            walkable: false,
            opaque: true,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "+",
            ascii_fg: "#D4A060",
            ascii_bg: "#583B30",
        ),
        "OpenDoor": (
            name: "OpenDoor",
            sprite: "sprites/doors/open_door.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "'",
            ascii_fg: "#D4A060",
            ascii_bg: "#3A2820",
        ),
        "Water": (
            name: "Water",
            sprite: "sprites/liquid/shoals_deep_water_8.png",
            walkable: false,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "~",
            ascii_fg: "#8080FF",
            ascii_bg: "#5E5ECA",
        ),
        "ShallowWater": (
            name: "ShallowWater",
            sprite: "sprites/liquid/shoals_shallow_water_8.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "~",
            ascii_fg: "#A0C0FF",
            ascii_bg: "#70A0ED",
        ),
        "Lava": (
            name: "Lava",
            sprite: "sprites/liquid/lava_2.png",
            walkable: false,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "~",
            ascii_fg: "#FFA028",
            ascii_bg: "#501400",
        ),
        "Chasm": (
            name: "Chasm",
            sprite: "sprites/liquid/chasm.png",
            walkable: false,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: " ",
            ascii_fg: "#000000",
            ascii_bg: "#0A0A14",
        ),
        "HiddenDoor": (
            name: "HiddenDoor",
            sprite: "sprites/walls/wall_brick.png",
            walkable: false,
            opaque: true,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "#",
            ascii_fg: "#504A3C",
            ascii_bg: "#777463",
        ),
        "LockedDoor": (
            name: "LockedDoor",
            sprite: "sprites/doors/closed_door.png",
            walkable: false,
            opaque: true,
            tile_size: (32, 32),
            grid_size: (1, 1),
            ascii_char: "+",
            ascii_fg: "#FF5050",
            ascii_bg: "#583B30",
        ),
    }
)
