(
    tiles: {
        "Floor": (
            name: "Floor",
            sprite: "sprites/floors/floor_stone.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "Wall": (
            name: "Wall",
            sprite: "sprites/walls/wall_brick.png",
            walkable: false,
            opaque: true,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "DownStairs": (
            name: "DownStairs",
            sprite: "sprites/stairs/stone_stairs_down.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "UpStairs": (
            name: "UpStairs",
            sprite: "sprites/stairs/stone_stairs_up.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "Empty": (
            name: "Empty",
            sprite: "sprites/floors/floor_stone.png",
            walkable: false,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "Door": (
            name: "Door",
            sprite: "sprites/doors/closed_door.png",
            walkable: false,
            opaque: true,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "OpenDoor": (
            name: "OpenDoor",
            sprite: "sprites/doors/open_door.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "Water": (
            name: "Water",
            sprite: "sprites/liquid/shoals_deep_water_8.png",
            walkable: false,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "ShallowWater": (
            name: "ShallowWater",
            sprite: "sprites/liquid/shoals_shallow_water_8.png",
            walkable: true,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
        "Lava": (
            name: "Lava",
            sprite: "sprites/liquid/lava_2.png",
            walkable: false,
            opaque: false,
            tile_size: (32, 32),
            grid_size: (1, 1),
        ),
    }
)
