(
  resources: {
  },
  entities: {
    4294967297: (
      components: {
        "bevy_ui::ui_node::Node": (
          width: Percent(100.0),
          height: Percent(100.0),
          align_items: Center,
          justify_content: Center,
        ),
        "bevy_ui::ui_node::BackgroundColor": ( Srgba((red: 0.0, green: 0.0, blue: 0.0, alpha: 0.0)) ),
        "bevy_rpg::menu::OnMainMenuScreen": (),
      },
    ),
    4294987297: (
      components: {
        "bevy_ui::ui_node::Node": (
          width: Px(150.0),
          height: Px(65.0),
          border: (
            left: Px(5.0),
            right: Px(5.0),
            top: Px(5.0),
            bottom: Px(5.0),
          ),
          justify_content: Center,
          align_items: Center,
        ),
        "bevy_ui::widget::button::Button": (),
        "bevy_ui::ui_node::BorderColor": (
          top: Srgba((red: 0.0, green: 0.0, blue: 0.0, alpha: 1.0)),
          right: Srgba((red: 0.0, green: 0.0, blue: 0.0, alpha: 1.0)),
          bottom: Srgba((red: 0.0, green: 0.0, blue: 0.0, alpha: 1.0)),
          left: Srgba((red: 0.0, green: 0.0, blue: 0.0, alpha: 1.0)),
        ),
        "bevy_ui::ui_node::BackgroundColor": ( Srgba((red: 0.15, green: 0.15, blue: 0.15, alpha: 1.0)) ),
        "bevy_ecs::hierarchy::ChildOf": (4294967297),
      },
    ),
    4295983297: (
      components: {
        "bevy_ui::widget::text::Text": ("Play"),
        "bevy_text::text::TextFont": (
          font_size: 40.0,
        ),
        "bevy_text::text::TextColor": ( Srgba((red: 1.0, green: 1.0, blue: 1.0, alpha: 1.0)) ),
        "bevy_ecs::hierarchy::ChildOf": (4294987297),
      },
    )
  }
)